extends layout

block content

    a(class='button', href='/') Do The Thing!
    div
    a(class='button', href='/signup') Sign up for free
    div
    p Been here before? Welcome back!
    div
    if errors
        div
            p The following error(s) occurred:
            ul
                each error in errors
                    li= error
    div
    form(action="/login" method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        div
            label(for="username")
            input(type="text" name="username" value=username placeholder="Username")
        div
            label(for="password")
            input(type="password" name="password" value=password placeholder="Password")
        div
            label(class=divClasses)
            input(type="checkbox" value="stay-logged-in")
            span Stay logged in
        div
            a(href='placeholderforpasswordreset') Forgot password?
        input(type="submit" value="Log In")
