extends layout

append head
    link(rel='stylesheet', href='/stylesheets/signup.css')

block content
    div(class='main-container')
        div(class="logo-quote-container")
            div(class="logo")
                a(href='/' id="logo-link")
                    img(src='pink-w-black-outline.png' alt='logo' id="logoImage")
                a(href='/' id="app-name")  Do The Thing!
            div(class="icons-message")
                div(class="student-icons")
                    img(src='student-1.png' alt='logo' class="icons")
                    img(src='student-2.jpg' alt='logo' class="icons")
                    img(src='students-group.png' alt='logo' class="icons")
                div(class="message") Join thousands of students getting their act together.
        div(class="signup-form-container")
            div
                a(class='login-button', href='/login') Log in
            div(class="signup-section")
                p(class= 'welcome-text') Sign up for free.
                div
                    if errors
                        div(class="errors-div")
                            p The following error(s) occurred:
                            ul
                                each error in errors
                                    li= error
                div(class="signup-div")
                    form(action="/signup" method="post" class= "signup-form")
                        input(type="hidden" name="_csrf" value=csrfToken)
                        div(class="signup-form-field-div")
                            input(type="text" name="firstName" value=firstName placeholder= "First Name" autofocus=true)
                        div(class="signup-form-field-div")
                            input(type="text" name="lastName" value=lastName placeholder= "Last Name")
                        div(class="signup-form-field-div")
                            input(type="email" name="email" value=email placeholder= "Email")
                        div(class="signup-form-field-div")
                            input(type="text" name="username" value=username placeholder= "Username")
                        div(class="signup-form-field-div")
                            input(type="password" name="password" value=password placeholder= "Password")
                        div(class="signup-form-field-div")
                            input(type="password" name="confirmPassword" value=confirmPassword placeholder= "Confirm Password")
                        div(class="signup-button-div")
                            input(type="submit" value="Sign up!" class="signup-button")
